<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Northwestern mutual candidate app</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

        <script src="js/script.js"></script>
    </head>
    <body ng-app="weatherApp">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Weather app</a>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="jumbotron">
                <%= yield %>
            </div>
        </div>
    </body>
</html>
